.image {
    width: 46px;
    height: 46px;
}

.card-1,
.card-2,
.card-3 {
    background-color: #F7F7F5 !important;
    padding: 24px;
}

.card-1 {
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: flex-start;
    min-height: 111.5vh;
}

.div-projects{
    overflow-y: auto;
}

.card-3 {
    min-height: 75vh;
    margin-bottom: 10px !important;
}

.card-2 {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}
.card-project{
    max-height: 260px;
}

.row-middle{
    max-height: 200px;
}



.botoes-nav {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.card-download {
    background: linear-gradient(200deg, #1A6241, #347840);
    color: white !important;
}

.button-download {
    background-color: #1A6241 !important;
    border: unset !important;
    width: 150px;
    border-radius: 24px !important;
}




.botoes-nav>button:hover {
    transition: all 0.5s ease !important;
    border-left: 2px solid #1A6241 !important;
    width: 250px !important;
    color: white;

}

.botoes-nav>button:focus {
    transition: all 0.5s ease !important;
    border-left: 3px solid #1A6241 !important;
    width: 250px !important;
    color: white;

}

.botoes-nav>button:active {
    transition: all 0.5s ease !important;
    border-left: 3px solid #1A6241 !important;
    width: 250px !important;
    color: white;

}


.image-profile {
    width: 48px !important;
    height: 48px !important;
    border-radius: 50%;
    object-fit: cover;
}

.button-add-project {
    background: linear-gradient(90deg, #1A6241 0%, #347840 100%) !important;
    border: none !important;
    color: white;
    border-radius: 30px !important;
    padding: 16px !important;
    font-size: 18px !important;
}

.button-import-data {
    border: 1px solid #1A6241 !important;
    background-color: transparent !important;
    color: #1A6241 !important;
    border-radius: 30px !important;
    padding: 16px !important;
    font-size: 18px !important;
}


.card-1-dashboard {
    background: linear-gradient(200deg, #1A6241 0%, #347840 100%) !important;
    color: white !important;
}



.text-custom-color {
    color: #1e774f !important;
}

.button-meeting {
    background: linear-gradient(200deg, #1A6241 0%, #347840 100%) !important;
    border: none !important;
}

.button-new-project, .button-new-member {
    background-color: transparent !important;
    color: #063621 !important;
    border-radius: 30px !important;
}

